<!DOCTYPE html>
<html>
<head>
<title>No Search Results</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<STYLE>
	#copyright {
	position: absolute;
	right: 1em;
	bottom: 0;
	font-size: 1em;
	}
	#disclaimer {
	position: fixed;
	left: 1em;
	bottom: 0;
	font-size: 1em;
	}
</STYLE>
</head>
<body>
<h1>There are no results from your search.</h1>
<h6>We're sorry.</h6>
<h3>Reloading the page may solve the problem</h3>
<div id="disclaimer">We're not responsible for money lost in the stock market. </div>
<div id="copyright">&copy; Wolf of Wall Olin 2014</div>
</body>
</html>
