<html>
  <head>
    <title>THE chatbot</title>
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
  </head>
  <body>
  	<div id='head'>
    	<div>Chatbot <a href="/index">Home</a></div>
    </div>
    <form method='post' action='/respond/{{nickname}}'>
		<table style="margin-bottom:1em">
			<tr>
				<td>
					<input type="text" placeholder="Say something here" name="searchkey" id="searchkey" required>
				</td>
			</tr>
		</table>
		<INPUT type="submit" value="Chat!">
	</form>
	{% for response in responses %}
    <p>{{response}}</b></p>
    {% endfor %}
    <form method='post' action='/logout/{{nickname}}'>
		<INPUT type="submit" value="Log Out">
	</form>
  </body>
</html>