<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <form method='post' action='/redirect'>
		<table style="margin-bottom:1em">
			<tr>
				<td style="width:15em">
					Insert Your Username and Password Here:
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" placeholder="Username" name="nickname" id="searchkey" required>
				</td>
			</tr>
			<tr>
				<td>
					<input type="password" placeholder="Password" name="password" id="searchkey" required>
				</td>
			</tr>
		</table>
		<INPUT type="submit" value="Login">
	</form>
	<p>Note: THIS IS NOT A SECURE SITE. DO NOT ENTER A PASSWORD YOU USE TO PROTECT VITAL INFORMATION.</p>
  </body>
</html>